In [0]:
import keras
from keras.layers import *
from keras.models import Model,Sequential,load_model
from keras.regularizers import *
from keras.activations import *
import numpy as np
import pandas as pd
from numpy import array

In [58]:
ls sample_data

anscombe.json*                mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md*

In [0]:
train=pd.read_csv('sample_data/mnist_train_small.csv',header=None)
test=pd.read_csv('sample_data/mnist_test.csv',header=None)

In [60]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:
labels=train[0]

In [0]:
train.drop(columns=0,inplace=True)

In [63]:
train[:1]

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:
train[:]=array(train[:])

In [65]:
train.head()

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:
train=train.values

In [0]:
train=train.reshape(train.shape[0],28,28)

In [68]:
train.shape

(20000, 28, 28)

In [0]:
Y_test=test[0]
test.drop(columns=0,inplace=True)

In [70]:
test.shape

(10000, 784)

In [0]:
test=test.values

In [0]:
test=test.reshape(test.shape[0],28,28)

In [73]:
train

array([[[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       ...,

       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]]])

In [0]:
train = np.asarray(train)
train = train.swapaxes(1, 2).reshape(len(train), 28, 28, 1)

In [0]:
test = np.asarray(test)
test = test.swapaxes(1, 2).reshape(len(test), 28, 28, 1)

In [0]:
labels=pd.get_dummies(labels)

In [77]:
test.shape

(10000, 28, 28, 1)

In [0]:
model=Sequential()
model.add(InputLayer((28,28,1)))
model.add(Conv2D(filters=16,kernel_size=(3,3),activation='relu',padding='valid'))
model.add(Conv2D(filters=32,kernel_size=(3,3),activation='relu',padding='valid'))
model.add(MaxPool2D(pool_size=(2,2),strides=(1,1),padding='valid'))
model.add(Flatten())
model.add(Dense(units=128,activation='sigmoid'))
model.add(Dense(units=10,activation='sigmoid'))
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['acc'])

In [79]:
model.fit(train,labels,validation_split=0.2)

Train on 16000 samples, validate on 4000 samples
Epoch 1/1
16000/16000 [==============================] - 44s 3ms/step - loss: 0.8914 - acc: 0.7890 - val_loss: 0.2526 - val_acc: 0.9465

In [80]:
y_pred=model.predict(test)
Y_pred=np.argmax(y_pred,axis=1)
np.mean((Y_pred==Y_test))

0.948